@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page">
    <main>
        <div class="container-fluid p-0">
            <header class="d-flex align-items-center py-3 mb-4 w-100" style="text-align:center;background-image:linear-gradient(to right,#454a4f, #454a4f);">
                <div class="col-11" style="text-align:center">
                    <h1>
                        Rocket Fuel Calculator
                    </h1>
                </div>
                <div class="col-1" style="padding:3px">
                    <a href="https://github.com/amaurijunior/" class="fa fa-github" style="font-size:36px;text-decoration:none"></a>
                </div>
            </header>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
